@theme {
  /* Base color *-*-500 */
  --color-olive-50: #edf3f1;
  --color-olive-100: #d5e1dc;
  --color-olive-200: #adc6be;
  --color-olive-300: #86aa9f;
  --color-olive-400: #628d80;
  --color-olive-500: #495E57;
  --color-olive-600: #3f534d;
  --color-olive-700: #374943;
  --color-olive-800: #2f3e39;
  --color-olive-900: #27342f;

  --color-lemon-50: #fffdea;
  --color-lemon-100: #fef7c2;
  --color-lemon-200: #fdf095;
  --color-lemon-300: #fbe85d;
  --color-lemon-400: #f8e02e;
  --color-lemon-500: #F4CE14;
  --color-lemon-600: #d3b310;
  --color-lemon-700: #b3960c;
  --color-lemon-800: #937a09;
  --color-lemon-900: #7a6407;

  --color-peach-50: #fff6f2;
  --color-peach-100: #fde4da;
  --color-peach-200: #facab8;
  --color-peach-300: #f6af93;
  --color-peach-400: #f29b7c;
  --color-peach-500: #EE9972;
  --color-peach-600: #d98464;
  --color-peach-700: #bd6f55;
  --color-peach-800: #a15c47;
  --color-peach-900: #854a39;

  --color-apricot-50: #fff8f0;
  --color-apricot-100: #feeedc;
  --color-apricot-200: #fddfbf;
  --color-apricot-300: #fbd2a4;
  --color-apricot-400: #fac58d;
  --color-apricot-500: #FBDABB;
  --color-apricot-600: #e2c0a4;
  --color-apricot-700: #c9a68c;
  --color-apricot-800: #af8c75;
  --color-apricot-900: #95725e;

  --color-mist-50: #ffffff;
  --color-mist-100: #fbfbfb;
  --color-mist-200: #f5f5f5;
  --color-mist-300: #efefef;
  --color-mist-400: #ebebeb;
  --color-mist-500: #EDEFEE;
  --color-mist-600: #d4d4d4;
  --color-mist-700: #bcbcbc;
  --color-mist-800: #a3a3a3;
  --color-mist-900: #8a8a8a;

  --color-charcoal-50: #e6e6e6;
  --color-charcoal-100: #cccccc;
  --color-charcoal-200: #b3b3b3;
  --color-charcoal-300: #999999;
  --color-charcoal-400: #808080;
  --color-charcoal-500: #333333;
  --color-charcoal-600: #2e2e2e;
  --color-charcoal-700: #292929;
  --color-charcoal-800: #242424;
  --color-charcoal-900: #1f1f1f;
}