@import "tailwindcss";
@import "./colors.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-dark: #495E57;
  --primary-light: #F4CE14;
  --secondar-first: #4e4a48;
  --secondar-second: #FBDABB;
  --secondar-third: #EDEFEE;
  --secondar-fourth: #333333;
}

.karla {
  font-family: var(--font-karla), sans-serif
}

.markazi {
  font-family: var(--font-markazi), serif;
}

@layer base {
  body {
    font-family: 'Karla', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
  }

  h1,
  h2,
  h3 {
    font-family: 'Markazi Text', serif;
  }
}

section {
  padding: 4ch 0;
}

/* ===== HERO SECTION ===== */
.hero-title {
  font-size: 5.5rem;
  font-weight: 500;
}

.hero-sub {
  font-size: 3rem;
  position: relative;
  transform: translate(0, -25px);
}

.hero-desc {
  position: relative;
  transform: translate(0, -25px);
}